body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}

.col1 {
    background-color: aqua;
    padding: 1rem;

}

.col2 {
    background-color: darkgoldenrod;
    padding: 1rem;
}

.col3 {
    background-color: chocolate;
    padding: 1rem;
}

@media (min-width: 820px) {

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        ;
    }